<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248.16 46.78">
    <title>Mobihb Logo</title>
    <g data-name="header">
      <path
        d="M 37.247251,36.425753 H 32.934943 V 16.712344 H 30.676114 V 23.28348 H 25.388403 V 16.712344 H 23.89963 V 36.425753 H 15.480362 V 1.8246137 h 8.419268 v 2.2588281 h 3.439579 v 6.5711362 h 1.488773 V 4.0834418 h 4.106961 V 1.8246137 h 4.312308 z"
        fill="#ffffff"
      />
      <path
        d="M 62.299752,18.252454 V 37.452493 H 40.532864 V 18.252454 Z m -13.34762,2.772198 v 13.655643 h 9.035312 V 21.024652 Z"
        fill="#ffffff"
      />
      <path
        d="M 87.352254,26.312364 V 36.425753 H 65.585365 V 7.1123249 h 8.419269 V 23.026795 h 10.062052 v 3.285569 z m -13.34762,1.02674 v 6.314451 h 4.928352 v -6.314451 z"
        fill="#ffffff"
      />
      <path
        d="M 98.235739,22.25674 V 36.425753 H 90.637863 V 22.25674 Z m -7.597876,-1.232088 v -2.772198 h 7.597876 v 2.772198 z"
        fill="#ffffff"
      />
      <path
        d="m 123.2882,26.312364 v 10.113389 h -8.41927 v -9.086649 h -4.92835 v 9.086649 h -8.41927 V 7.1123249 h 8.41927 V 23.026795 h 10.06205 v 3.285569 z"
        fill="#ffffff"
      />
      <path
        d="M 148.3407,26.312364 V 36.425753 H 126.57381 V 7.1123249 h 8.41927 V 23.026795 h 10.06205 v 3.285569 z m -13.34762,1.02674 v 6.314451 h 4.92835 v -6.314451 z"
        fill="#ffffff"
      />
      <path
        d="m 151.4041,30.014916 h 7.32726 v 6.419452 h -7.32726 z"
        fill="#ffffff"
      />
      <path
        d="M 183.54661,17.241719 V 36.441758 H 161.77972 V 17.241719 Z m -13.34762,2.772198 V 33.66956 h 9.03531 V 20.013917 Z"
        fill="#ffffff"
      />
      <path
        d="m 195.25149,24.06954 v 12.372218 h -8.41927 V 17.241719 h 8.41927 v 2.515513 h 1.48877 v -2.515513 h 11.85885 v 2.772198 h -6.57114 v 4.055623 z"
        fill="#ffffff"
      />
      <path
        d="m 233.65161,18.525144 v 27.003263 h -18.48132 v -3.285568 h -3.28557 v -4.312308 h 8.41927 v 3.285568 h 4.92835 V 35.671703 H 211.88472 V 21.554027 h 3.28557 v -3.028883 z m -13.29628,3.901612 q 0,2.258828 -0.0513,4.62033 0,2.310166 0,4.568994 h 4.92835 q 0,-2.258828 0,-4.568994 0.0513,-2.361502 0.0513,-4.62033 z"
        fill="#ffffff"
      />
    </g>
  </svg>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Logo extends Vue {
  @Prop({ type: Boolean, required: false, default: false }) invert!: boolean;
}
</script>
<style lang="scss" scoped>
svg {
  fill: $background-color;

  &.invert {
    fill: $secondary;
  }
}
</style>
